@use "mixin.scss" as mixinTools;
@use "globals.scss" as *;

//Animaciones
@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes scale2 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

// Contenido principal
#mainCarrito {
  display: flex;
  width: 80%;
  justify-content: center;

  @include mixinTools.PhoneAndTablet {
    flex-direction: column;
    width: 100%;
  }
}

// Productos
#productosCarrito {
  margin-right: 10px;

  article {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    img:not(.eliminarProducto) {
      width: 100px;
      border-radius: 10px;
      margin-right: 20px;
      border: 1px solid black;
    }

    .eliminarProducto {
      cursor: pointer;
      width: 20px;
      height: 20px;
      display: flex;
    }

    .descripcion {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-radius: 10px;
      margin-right: 0.5em;
      padding-left: 0.5em;

      h3 {
        margin: 0;
      }

      p {
        margin: 5px 0;
      }

    }

    &:hover {
      .descripcion {
        background-color: $color_fondo_hover;
      }

        img {
          animation: scale 0.4s forwards;
        }
    }
  }
}

// Contenedor de formulario de productos y pago
#productosCarrito, #formularioPago {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 2%;
  width: 80%;
  box-shadow: 0.5em 0.5em 0.3em rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  border: 1px solid $color_fondo_hover2;

  &:hover {
    animation: scale2 0.4s forwards;
  }

  @include mixinTools.PhoneAndTablet {
    margin: 1em 0 2em 0;
  }
}

[class^="fecha"] {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5%;
}

input[type="text"]:not(:is(nav *)), input[type="number"], select {
  width: 100%;
  max-width: 300px;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
  @include mixinTools.SetBackgroundAndTextColor($color_texto_hover, $color_fondo_hover);
  margin-bottom: 10px;

  &:focus {
    border-color: blue;
  }
}


#cvv {
  width: 60px;
}

#precio {
  font-size: 1.5em;
  align-self: flex-end;
}

.btn-comprar {
  @include mixinTools.SetBackgroundAndTextColor(white, $color_boton_success);
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: ease-out 0.6s;
  align-self: flex-end;

    &:hover {
        box-shadow: inset 150px 0 0 0 darken($color_boton_success, 10%);
    }

    &:not(:hover) {
        box-shadow: inset 0 0 0 0 darken($color_boton_success, 10%);
    }

  img {
    width: 20px;
    color: white;
    margin-left: 10px;
    vertical-align: middle;
  }
}

h2 {
  text-decoration: underline;
  color: $color_texto;
}
