@use "globals.scss" as *;
@use "mixin.scss" as mixinTools;

#mainContact {
  display: flex;
  flex-wrap: wrap;

  & > div {
    flex: 1;
  }
}

// Card base, de la que heredan los contenedores de formulario, mapa y article
%card-base {
    padding: 20px;
    margin-right: 20px;
    background-color: $color_fondo_card;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

// Contenedores de formulario y mapa
#containerForm, #containerLocation {
  flex: 1;
  @extend %card-base;
  margin-bottom: 2em;
  position: relative;

  iframe {
    width: 100%;
    border: none;
    border-radius: 10px;
  }

  input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
    @include mixinTools.SetBackgroundAndTextColor($color_texto_hover, $color_fondo_hover);

    &:focus {
      border-color: blue;
    }
  }

  input[type="submit"] {
    @include mixinTools.SetBackgroundAndTextColor(white, $color_boton_success);
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: ease-out 0.6s;

    &:hover {
      box-shadow: inset 100px 0 0 0 darken($color_boton_success, 10%);
    }

    &:not(:hover) {
      box-shadow: inset 0 0 0 0 darken($color_boton_success, 10%);
    }
  }
}

// Contenedor de article
#mainContact article {
  flex-basis: 100%;
  @extend %card-base;
}

// Estilos específicos para el contenedor del mapa
#containerLocation {
  display: flex;
  flex-direction: column;

  > *:not(p) {
    justify-content: center;
    align-items: center;
  }
}

#{$etiqueta} {
  display: block;
  margin-bottom: 5px;
}

// Enlaces∫
li a {
  color: $color_texto;

  &:hover {
    color: $color_texto_hover;
  }

  &:visited {
    $color_link_visited: #9c3e3e;
    color: $color_link_visited;
  }
}