// Variables
// Colores
$color_texto: #333;
$color_texto_hover: #000000;
$color_link_active: #e10000;
$color_fondo: #FFE1D6;
$color_fondo_hover: darken($color_fondo, 5%);
$color_fondo_hover2: darken($color_fondo_hover, 5%);
$color_boton_success: #4CAF50;
$color_blanco: #ffffff;
$color_fondo_card: #FFDBD7;

// Otros
$size_border_radius: 10px;
$etiqueta: label;

// Puntos de rotura
$breakpoint-desktop: 1024px;