@use "globals.scss" as *;

// Mixin para colores
@mixin SetBackgroundAndTextColor($color_texto,$color_fondo){
  color: $color_texto;
  background-color: $color_fondo;
}

// Mixin para cajas
@mixin SetBoxSizingProperty($param){
  box-sizing: $param;
  -moz-box-sizing: $param;
  -webkit-box-sizing: $param;
}

// Mixins para efectos
@mixin SetTransition($val...){
  -webkit-transition: $val;
  -moz-transition: $val;
  transition: $val;
}

@mixin SetAnimation($val...){
  -webkit-animation: $val;
  -moz-animation: $val;
  animation: $val;
}

@mixin SetTransform($val...){
  -webkit-transform: $val;
  -moz-transform: $val;
  -ms-transform: $val;
  -o-transform: $val;
  transform: $val;
}

// Mixin para fuentes
@mixin SetFont($font,$size,$weight,$style, $decoration){
  font-family: $font;
  font-size: $size;
  font-weight: $weight;
  font-style: $style;
  text-decoration: $decoration;
}


// Mixin para media queries
@mixin PhoneAndTablet {
  @media (max-width: $breakpoint-desktop - 1px) {
    @content;
  }
}

@mixin DesktopOnly {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}